
  main {
    width:940px;
    margin:0 auto;
    padding:0 10px;
    @include mediaQuery(959px) {
      width:768px;
  }
  @include mediaQuery(767px) {
    width:460px;
}
@include mediaQuery(459px) {
  width:300px;
}
  }


  body {
    font-family: $body-font;
    font-size:1em;
    line-height:2em;      
    @include Image($bodyImgPath, repeat-x);
    background-color: white;
  }

