
@mixin Image($image, $rep: no-repeat) {
    background: url($image);
    background-repeat: $rep;
    margin:0;
       
}

@mixin navBase($width: 500px){
    height: 190px;
    float: left;
    width: $width;
    
}

@mixin header($textplace:left) {
    width:inherit;
    clear:both;
    text-align:center;
    padding-top:40px;

}
@mixin headerheading($color: $red, $size: 3em, $weight: 100)
{
    color: $color;
    line-height: 0;
    font-weight: $weight;
    font-size: $size;


}
@mixin generalbox($width:60%, $height:150px){
    width: $width;
    height: $height
}
@mixin contentarea($width:500px, $float:left)
{
    width: $width;
    float: $float;
}
@mixin foo($color, $height:100px, $ptop:30px){
    width: 100%;
    background: $color;
    height:$height;
    padding-top: $ptop;
    
}
@mixin fooImage($image, $pos: 0 0) {
    background: url($image);
    background-position: $pos;
   
       
}
@mixin medianav($height:100px) {
    width:inherit;
    float:none;

   
       
}

@mixin fweight($weight, $offset: 0){
    font-weight: $weight * $offset + $weight;
}

@mixin mediaQuery($args...) {
    @if length($args) == 1 {
        @media (max-width: nth($args, 1)) {
            @content;
        }
    } 
    }

