
/* Variables for colors */
$red: #E65C43;    
$white: #FFF;  
$grey: #666;   
$light-white: #F5F6F6;
$dark-color: #30353D;


/* Variables for web fonts */
$body-font: 'Roboto', sans-serif;

/* Variables for images */
$fooImagePath: '../images/social-media.png';
$figPath: '../images/logo.png';
$bodyImgPath: '../images/bg.gif';